// Specific CSS for your home-page
.home-image {
  background-image: url(asset-path("background_image.png"));
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
}

.banner {
  align-items: center;
  justify-content: center;
}

.row {
  text-align: center;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.punchline {
  color: white;
  font-size: 40px;
}

.crew {
  margin-top: 36px;
}

.col-xs-12 {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.btn-crew {
  font-size: 15px;
  padding: 12px 36px;
  border-radius: 4px;
  background: #042641;
  transition: background 0.3s ease;
}

.btn-crew:hover {
  opacity: 0.9;
  background: #042641;
  text-decoration: none;
  color: white;
}

.providz-premium {
  height: 500px;
  background-image: url(asset-path("crew.png"));
  //background-size: cover !important;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.providz-premium h3 {
  color: white;
}

.panel-real {
  height: 100px;
  display: initial;
}

.anim {
  height: 800px;
}

//#bloc1 {
//  position: relative;
//}


@media all and (max-width: 1024px) {

  .punchline {
    font-size: 15px;
    line-height: 1;
  }

  .punchline p {
    margin: 7px 0 1.5px;
  }

.logo-p img {
  height: 26px;
}
.crew {
  margin-top: 0px;
}

.btn-crew {
  font-size: 7px;
  padding: 6px 18px;
}

.anim {
  height: 210px;
}

}
