<div class="footer">
  <div class="center-bloc">
    <p>test</p>
  </div>
  <div class="footer-bloc">
    <h3>Providz</h3>
    <ul>
      <li>Concept</li>
      <li>Mention légales</li>
      <li>CGU</li>
      <li>La Team</li>
    </ul>
  </div>
  <div class="footer-bloc">
    <h3>Social</h3>
    <ul>
      <li><i class="fab fa-facebook-f"></i> Facebook</li>
      <li><i class="fab fa-linkedin-in"></i> LinkedIn</li>
      <li><i class="fab fa-vimeo-v"></i> Vimeo</li>
    </ul>
  </div>
  <div class="footer-bloc">
    <h3>Contact</h3>
    <ul>
      <li>Téléphone : </li>
      <li>Email :</li>
    </ul>
  </div>
  <div class="footer-bloc">
    <h3>Tu es technicien ?</h3>
    <p>Phrase pour interpeler et faire le lien avec Opside</p>
  </div>
</div>
