<html>
  <head>
    <body>
      <div class="container home-image">
        <div>
          <%= render "shared/navbar" %>
        </div>
        <div class="row">
          <img src="images/P.png" alt="P">
        </div>
        <div class="row punchline">
          <p>Bookez les intermittents et freelances</p>
          <p>qui donneront vie à votre projet.</p>
        </div>
        <div class="row crew">
          <a href="" class="navbar-wagon-item navbar-wagon-link btn-crew">ENGAGEZ LE CREW DE VOS RÊVES</a>
        </div>
        <div style="height: 800px;"></div>
        <div class="providz-premium">
          <div class="row">
            <p>Providz votre accompagnateur premium</p>
            <p>dans vos réalisations audiovisuelles.</p>
          </div>
        </div>
      </div>
    </body>
  </head>
</html>
