<html>
  <head>
    <body>
      <div class="container home-image">
        <div>
          <%= render "shared/navbar" %>
        </div>
        <div class="row">
          <img src="images/P.png" alt="P">
        </div>
        <div class="row punchline">
          <p>Bookez les intermittents et freelances</p>
        </div>
        <div class="row punchline">
          <p>qui donneront vie à votre projet.</p>
        </div>
      </div>
    </body>
  </head>
</html>
