<html>
  <head>
    <body>
      <div class="container home-image">
        <div class="row col-xs-12">
          <%= render "shared/navbar" %>
        </div>
        <div class="row logo-p col-xs-12">
          <img src="images/P.png" alt="P">
        </div>
        <div class="row punchline col-xs-12">
          <p>Bookez les intermittents et freelances</p>
          <p>qui donneront vie à votre projet.</p>
        </div>
        <div class="row crew col-xs-12">
          <a href="" class="navbar-wagon-item navbar-wagon-link btn-crew">ENGAGEZ LE CREW DE VOS RÊVES</a>
        </div>
        <div class = "row anim col-xs-12"></div>
        <div class=" row providz-premium col-xs-12">
            <h3>Providz votre accompagnateur premium</h3>
            <h3>dans vos réalisations audiovisuelles.</h3>
        </div>
        <div class="row panel-real col-xs-12">
          <h3>De quoi sommes-nous capables ?</h3>
          <p>Découvrez notre panel de réalisations possibles.</p>
        </div>
      </div>
    </body>
  </head>
</html>
